body{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/D416-D415%28034%29_MTR_West_Rail_Line_whole_view_18-03-2020.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position-x: right;
    background-attachment: fixed;
}

#time{
    color: white;
    background-color: navy;
    font-size: 25px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.white-box{
    background-color: white;
    color: black;
    font-size: 30px;
    padding: 8px;
    display: grid;
    grid-template-columns: 120px auto 40px 130px;
    align-items: center;
}

.blue-bg{
    background-color: lightblue;
}

#message-wrapper{
    padding:10px;
    background-color: rgba(0,0,0,0.7);
    width: 50vw;
    min-width: 400px;
}

#message{
    border: 5px solid black;
}

.destination{
    grid-column:1/2
}
.platform{
    width: 34px;
    height: 34px;
    border-radius: 32px;
    background-color: deeppink;
    text-align: center;
    color: white;
    grid-column:3/4
}
.minute{
    grid-column:4/5;
    font-weight: bold;
    margin-left:5px;
}
.unit{
    font-size: 18px;
    margin-left: 10px;
    font-weight: normal;
}