body{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/D416-D415%28034%29_MTR_West_Rail_Line_whole_view_18-03-2020.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position-x: right;
    background-attachment: fixed;
}

#time{
    color: white;
    background-color: navy;
    font-size: 25px;
    padding: 5px;
}

.white-box{
    background-color: white;
    color: black;
    font-size: 30px;
    padding: 8px;
}

.blue-bg{
    background-color: lightblue;
}

#message-wrapper{
    padding:10px;
    background-color: rgba(0,0,0,0.7);
}

#message{
    border: 5px solid black;
}

.platform{
    width: 34px;
    height: 34px;
    border-radius: 32px;
    background-color: deeppink;
    text-align: center;
    color: white;
}